config MPU_SENSORS_MPU3050
    tristate "MPU3050"
    default y
    help
      If you say yes here you get support for the MPU3050 Gyroscope driver
      This driver can also be built as a module.  If so, the module
      will be called mpu3050.

config MPU_SENSORS_KXTF9
    bool "Kionix KXTF9"
    default y
    help
      This enables support for the Kionix KXFT9 accelerometer

config MPU_SENSORS_AK8975
    bool "AKM akm8975"
    default y
    help
      This enables support for the AKM ak8975 compass

#config MPU_SENSORS_TIMERIRQ
#    bool "Timer IRQ"
#    default y
#    help
#      If you say yes here you get access to the timerirq device handle which
#      can be used to select on.  This can be used instead of IRQ's, sleeping,
#      or timer threads.  Reading from this device returns the same type of
#      information as reading from the MPU and slave IRQ's.

#config MPU_SENSORS_DEBUG
#    bool "MPU debug"
#    default y
#    help
#      If you say yes here you get extra debug messages from the MPU3050
#      and other slave sensors.

